/* GENERAL STYLING */

:root {
  --timerColor: #fe7f2d;
  --globalPadding: 15px;
  --globalBorderSize: 4px;
  --bottomBoxShadow: 0 1px 0px 0px var(--timerColor)
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9d9d9;
  font-family: sans-serif;
  font-size: 18px;
}

.tab-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--globalPadding);
}

/* Color picker */

.color-picker {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 0;
  background: #666;
  padding: 0 var(--globalPadding) var(--globalPadding) 0;
}

.color-option {
  --myColor: var(--timerColor);
}

.color-picker input {
  display: none;
}

.color-picker label {
  position: relative;
  font-size: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: var(--globalPadding) 0 0 var(--globalPadding);
  border: var(--globalBorderSize) solid var(--myColor);
}

.color-picker span:after {
  content: "";
  position: absolute;
  inset: 5px;
  background: var(--myColor);
  opacity: 0;
}

.color-picker label input:checked + span:after {
  opacity: 1;
}

/* TASK LIST */

.tasks { 
  height: 50vh;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: var(--globalPadding);
  list-style: none;
  width: 100%;
}

.task {
  max-width: 200px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}

.task div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.task button {
  border: none;
  background: none;
  position: relative;
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}
.task .complete-task {
  color: var(--timerColor);
  border: 1px solid var(--timerColor);
  font-size: 0.5rem;
}
.task .complete-task:hover {
  cursor: pointer;
}
.task .complete-task:hover::after {
  content: "X";
  pointer-events: none;
}

.task .delete-task {
  color: rgb(241, 86, 86);
}
.task .delete-task:hover {
  cursor: pointer;
  box-shadow: 0 1px 0px 0px rgb(241, 86, 86);
} 


.completed span {
  text-decoration: line-through;
}
.completed .complete-task:hover::after {
  content: "";
  display: none;
}

.add-task {
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--timerColor);
}
.add-task:before {
  content: "+";
  display: inline-block;
  margin-right: var(--globalPadding);
}
.add-task:hover {
  cursor: pointer;
  box-shadow: var(--bottomBoxShadow);
}
.add-task:hover:before {
  transform: rotate(360deg);
  transition: transform 1s;
}

.new-task {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.new-task-input {
  background: none;
  border: none;
  outline: none;
  box-shadow: var(--bottomBoxShadow);
  color: inherit
}

.new-task button {
  width: 15px;
  height: 15px;
  background: none;
  border: none;
  padding-bottom: 0.5rem;
}

.new-task-submit {
  color: var(--timerColor);
}

.new-task-delete {
  color: rgb(241, 86, 86);
}

.new-task button:hover {
  cursor: pointer;
}
.new-task-submit:hover {
  box-shadow: var(--bottomBoxShadow);
}
.new-task-delete:hover {
  box-shadow: 0 1px 0px 0px rgb(241, 86, 86);
}



/* TIMER */

.timer-container {
  display: flex;
  flex-direction: row;
  gap: var(--globalPadding);
  height: 50vh;
  max-height: 400px;
}

.timer-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer-bar {
  --timerHeight: 100%;
  position: relative;
  width: 100px;
  border: var(--globalBorderSize) solid black;
}

.timer-bar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--timerHeight);
  bottom: 0;
  background: var(--timerColor);
}

.time-value {
  width: 50px;
  text-align: center;
  background: none;
  box-shadow: var(--bottomBoxShadow);
  border: none;
  font-size: 1rem;
  color: inherit;
  outline: none;
}

.time-types {
  background: none;
  box-shadow: var(--bottomBoxShadow);
  border: none;
  font-size: 1rem;
  color: inherit;
  outline: none;
  padding-left: 5px;
}

.time-types option {
  color: black;
}

.timer-start {
  padding: 0 var(--globalPadding);
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--timerColor);
  text-transform: uppercase;
}

.timer-start:hover {
  box-shadow: var(--bottomBoxShadow);
}
